# Tenant piloto - Copilot Protheus
TENANT_NAME=pilot_rodolltda
PROTHEUS_REST_URL=https://rodolltda195384.protheus.cloudtotvs.com.br:10707/rest
WEBAPP_URL=https://rodolltda195384.protheus.cloudtotvs.com.br:10703/webapp/index.html
VSCODE_SERVER_URL=https://rodolltda195384.protheus.cloudtotvs.com.br:10714
CLIENT_ID=
CLIENT_SECRET=
PROTHEUS_USER=
PROTHEUS_PASSWORD=
AUTH_MODE=basic
TIMEOUT_SECONDS=30
