# Exemplo de configuração de Tenant de demonstração (Single-tenant / Teste Piloto)
# Em produção multiempresa (SaaS), estes parâmetros são configurados diretamente via Banco de Dados.
TENANT_NAME=cliente_exemplo
PROTHEUS_REST_URL=https://protheus.cliente_exemplo.cloudtotvs.com.br:10707/rest
WEBAPP_URL=https://protheus.cliente_exemplo.cloudtotvs.com.br:10703/webapp/index.html
VSCODE_SERVER_URL=https://protheus.cliente_exemplo.cloudtotvs.com.br:10714
CLIENT_ID=
CLIENT_SECRET=
PROTHEUS_USER=usuario_api
PROTHEUS_PASSWORD=senha_segura
AUTH_MODE=basic
TIMEOUT_SECONDS=120
